# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node dependencies (frontend)
frontend/node_modules/

# Python virtual environment (backend)
backend/venv/
backend/api/__pycache__
backend/services/__pycache__
backend/utils/__pycache__
backend/serviceAccountKey.json


# Build outputs
dist
dist-ssr

# Local environment files
*.local

# Environment files
frontend/.env
backend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
